NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_API_BASE_URL=http://localhost:5000

NEXT_PUBLIC_MAIN_DOMAIN=

NEXT_PUBLIC_CLIENT_BASE_URL=http://localhost:3001
NEXT_PUBLIC_REVALIDATE_SECRET="123456"

NEXT_PUBLIC_ACCESS_TOKEN_COOKIE_EXPIRES=86400000 # 1 day in milliseconds

NEXT_PUBLIC_SHOW_IMAGE_TO_ORDER=false

NEXT_PUBLIC_COURIER_STATUS_CHECK_URL=https://steadfast.com.bd/t

NEXT_PUBLIC_COMPANY_NAME="Nora Life Style"
NEXT_PUBLIC_COMPANY_PHONE="017100200300"
NEXT_PUBLIC_COMPANY_ADDRESS="Dhaka, Bangladesh"
