NEXT_PUBLIC_NODE_ENV=development

NEXT_PUBLIC_API_BASE_URL=http://localhost:5000

NEXT_PUBLIC_MAIN_DOMAIN=

NEXT_PUBLIC_CLIENT_BASE_URL=http://localhost:3000
NEXT_PUBLIC_REVALIDATE_SECRET="123456"

# 1 day in milliseconds
NEXT_PUBLIC_ACCESS_TOKEN_COOKIE_EXPIRES=86400000

NEXT_PUBLIC_SHOW_IMAGE_TO_ORDER=false
# 2MB
NEXT_PUBLIC_UPLOAD_IMAGE_SIZE=2000000
# 5MB
NEXT_PUBLIC_UPLOAD_PDF_SIZE=5000000
NEXT_PUBLIC_UPLOAD_PDF_MAX_COUNT=5
NEXT_PUBLIC_UPLOAD_IMAGE_MAX_COUNT=10
NEXT_PUBLIC_UPLOAD_IMAGE_FORMAT=".jpg,.jpeg,.png,.webp,.pdf,.JPG,.JPEG,.PNG,.WEBP"

NEXT_PUBLIC_COURIER_STATUS_CHECK_URL=https://steadfast.com.bd/t

NEXT_PUBLIC_COMPANY_NAME="সিদ্দীকিয়া প্রকাশনী"
NEXT_PUBLIC_COMPANY_PHONE="017100200300"
NEXT_PUBLIC_COMPANY_ADDRESS="Dhaka, Bangladesh"
